<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment>
       <!-- This section defines where files will be installed -->
       <!-- INSTALLDIR is the main install location, and we're adding a Drivers subfolder -->
       <DirectoryRef Id="INSTALLDIR">
           <Directory Id="DriverFilesDir" Name="Drivers">
               <!-- Each Component block is a copy instruction to put the file in the installer -->
               <Component Id="InstallPart1" Guid="*" Win64="yes">
                   <File Id="installpart1.cmd"
                         Source="drivers/installpart1.cmd"
                         KeyPath="yes" />
               </Component>
               <Component Id="InstallPart2" Guid="*" Win64="yes">
                   <File Id="installpart2.cmd"
                         Source="drivers/installpart2.cmd"
                         KeyPath="yes" />
               </Component>
               <Component Id="DriverInf" Guid="*" Win64="yes">
                   <File Id="snFilter.inf"
                         Source="drivers/snFilter.inf"
                         KeyPath="yes" />
               </Component>
               <Component Id="DriverCert" Guid="*" Win64="yes">
                   <File Id="snFilter.cer"
                         Source="drivers/snFilter.cer"
                         KeyPath="yes" />
               </Component>
               <Component Id="DriverSys" Guid="*" Win64="yes">
                   <File Id="snFilter.sys"
                         Source="drivers/snFilter.sys"
                         KeyPath="yes" />
               </Component>
               <Component Id="DriverCat" Guid="*" Win64="yes">
                   <File Id="snfilter.cat"
                         Source="drivers/snfilter.cat"
                         KeyPath="yes" />
               </Component>
           </Directory>
       </DirectoryRef>
   </Fragment>

   <Fragment>
       <!-- ComponentGroup allows Tauri to reference all driver components at once -->
       <ComponentGroup Id="DriverComponents">
           <ComponentRef Id="InstallPart1"/>
           <ComponentRef Id="InstallPart2"/>
           <ComponentRef Id="DriverInf"/>
           <ComponentRef Id="DriverCert"/>
           <ComponentRef Id="DriverSys"/>
           <ComponentRef Id="DriverCat"/>
       </ComponentGroup>
   </Fragment>
</Wix>