@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.otf') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.otf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.sideBarPurple:hover {
  color: #4f46e5 !important; /* This ensures the hover effect doesn't change the color */
}

.sideBarPurple.selected:hover {
  color: #4f46e5 !important; /* This ensures the hover effect doesn't change the color */
}

.breadcrumbsBar{
  left: 280px;
}

.dashboardAction:hover {
  color: inherit !important;
  /* This ensures the hover effect doesn't change the color */
}

.dashboardAction.selected:hover {
  color: inherit !important;
  /* This ensures the hover effect doesn't change the color */
}