@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'FiraCode';
	src: url('./assets/fonts/FiraCode-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

:root {
	--app-primary: #1F1F33;
	--app-secondary: #171726;
	--app-green: #2DDF95;
	--app-blue: #B6C4FF;
	--color-app: rgba(255, 255, 255, 0.87);
	--color-disabled: rgba(255, 255, 255, 0.37);
	font-family: Inter, sans-serif;
	color: var(--color-app);
	background-color: var(--app-secondary);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

.hidden-scrollbar {
	scrollbar-width: none;

	-ms-overflow-style: none;
}

.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

.bg-app {
	background-color: var(--app-primary);
	;
	color: var(--color-app);
}

.bg-secondary {
	background-color: var(--app-secondary)
}

.bg-disabled {
	background-color: var(--color-disabled);
}

.color-app {
	color: var(--color-app);
}

.color-disabled {
	color: var(--color-disabled);
}

.color-outline {
	border-color: #535362;
	border: 1px solid #535362;
}

.dashed{
	border-style: dashed !important;
}

.border-hover:hover {
	border-color: var(--app-green)
}

.border-bg-app {
	border-color: var(--app-primary) !important;
}

.border-tabs {
	border-bottom: 1px solid #34343A !important;
}

.codeText {
	font-family: FiraCode, sans-serif;
}

.modal-background {
	--tw-bg-opacity: 0.5 !important;
}


@media (min-width: 1536px) {
	.container {
		max-width: 100% !important;
	}
}

.sidebar {
	width: 84px;
	background-color: var(--app-primary);
	;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-wrapper {
	margin-top: 26px;
}

.app-green {
	color: var(--app-green)
}

.app-blue {
	color: var(--app-blue)
}

.semibold{
	font-weight: 600 !important;
}

.sm{
	font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}

.bg-app-blue {
	background-color: var(--app-blue);
}

.focus\:bg-app-blue:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(182 196 255 / var(--tw-ring-opacity))
}

.focus\:border-indigo-500:focus {
	border-color: var(--app-blue) !important;
	border-width: 1px !important;
}

.bg-green {
	background-color: var(--app-green);
}

.logo {
	width: 42px;
	height: 42px;
	color: var(--app-green);
	cursor: crosshair;
}

.icon.selected {
	color: var(--app-green);
}


.icon-list {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.icon-wrapper {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
}


.icon {
	font-size: 24px;
	color: #C6C6D0;
	transition: color 0.3s ease-in-out;
}


.icon-wrapper:hover .icon:not(.selected) {
	color: #FFFFFF;
	cursor: pointer;
}

.icon-wrapper.selected {
	background-color: #414659;
}


[type='text']:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 0px #ffffff, 0 0 0 1px var(--app-blue);
}

.app-button {
	transition: all 0.150s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.app-button:hover {
	border-color: var(--app-green);
}

.filePath {
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.filePath:hover {
	color: var(--app-green);
	text-decoration: underline;
}

.css-bwo91o-MuiList-root-MuiMenu-list {
	background-color: var(--app-primary) !important;
}
.css-ueny2a-MuiTypography-root{
	color: var(--color-app) !important;
}

.css-1ya4y88-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
	color: var(--app-blue) !important;
}

.css-1ya4y88-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
	background-color: var(--app-blue) !important;
}